/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Eric Meyer CSS Reset */
/* My Code */

* {
    font-family: 'Cairo', 'sans-serif';
    font-weight: 400;
}

nav {
	display: inline-block;
}

h1 {
	font-size: 48px;
	font-weight: 900;
}

h2 {
	font-size: 36px;
	font-weight: 700;
}

h3 {
	font-size: 12px;
}

button {
	border: none;
	border-radius: 5px;
	font-weight: 600;
	font-size: 12px;
	padding: 5px 10px;
	color: #fff;
	background-color:rgb(0, 204, 204);
}

.btn-base {
	border: 1px solid gray;
	text-decoration: none;
	color: rgb(80,86,102);
	padding: 0 5px;
}

.btn-alt {
	padding: 10px 0; 
	width: 100px;
	margin-top: 25px;
}

.btn-base span,
.btn-base img {
	vertical-align: middle;
}

.rounded-btn {
	border-radius: 25px;
}

footer {
	background-color: black;
	display: flex;
	flex-direction: column;
	padding-top: 25px;
}

.toolbar {
	display: flex;
	justify-content: space-between;
}

.navbar-list {
    display: flex;
}

.navbar-item {
	display: flex;
	padding: 10px;
}

.nav-link {
	text-decoration: none;
	color: #5a5f6e;
	text-transform: uppercase;
	display: flex;
	align-items: center;
	font-size: .775rem;
}

.navbar-bookend {
	margin: 10px;
	height: 21px;
}

.ad-banner {
	background-color: rgb(255, 221, 51);
	padding: 10px;
	font-size: .7rem;
}

.icon-extra-large {
	height: 110px;
}

.icon-large {
	height: 30px;
	margin: 10px;
}

.icon-small {
	height: 25px;
}

.brand-logo {
	width: 25%;
	flex-grow: 0 0 100px;
}

.brand-banner {
	display: flex;
	justify-content: space-between;
}

.brand-logo-container {
	width: 80%;
	padding: 50px 100px;
}

.brand-logo-anchor {
	display: flex;
}

.brand-slogan-container {
	display: flex;
	align-content: center;
	padding-right: 150px;
	width: 20%;
}

.brand-slogan-gray {
	font-family: 'Roboto Condensed';
	font-weight: 200;
	font-size: 24px;
	text-align: center;
	color: rgb(80, 86, 102);
	display: flex;
	align-items: center;
}

.brand-slogan-white {
	font-family: 'Roboto Condensed';
	font-weight: 100;
	font-size: 18px;
	text-align: center;
	color: #fff;
	display: flex;
	align-items: center;
	padding-left: 10px;
}

.social-anchor {
	display: flex;
	justify-content: center;
	align-items: center;
}

.socials-list {
	display: flex;
	width: 600px;
}

.socials-list-item {
	margin: 5px;
}

.footer-main {
	display: flex;
	padding: 25px 0 25px 150px;
}

.footer-header {
	color: #fff;
}

.footer-socials {
	display: flex;
	flex-direction: column;
	width: 50%;
	justify-content: space-between;
}

.footer-logo-slogan-container {
	height: 80%;
}

.footer-links {
	display: flex;
	width: 50%;
	line-height: 30px;
	font-size: 18px;
}

.footer-link-child-container {
	width: 50%;
}

.highlighted-link {
	color: rgb(0, 204, 204);
	text-decoration: none;
}

.footer-text {
	color: rgb(167, 170, 178);
	font-size: 12px;
	text-align: center;
	line-height: 18px;
}

.highlight {
	color: #fff;
	font-weight: 600;
}

.copyright-info {
	padding-top: 25px;
	padding-bottom: 50px;
}

.footer-bottom {
	border-top: .5px solid rgb(167, 170, 178);
}

.customer-logo {
	height: 75px;
}

.content-container {
	display: flex;
	justify-content: center;
}

.suggested-videos {
	width: 82%;
}

#video-area {
	background-color: rgb(247, 248, 248);
	padding-bottom: 100px;
}

.suggested-videos > h2 {
	margin: 25px 0;
}

.media-container {
	display: flex;
}

.suggested-video-list {
	display: flex;
	flex-direction: column;
	margin-left: 25px;
	height: 545px;
	width: 280px;
	overflow-y: scroll;
	-webkit-mask-image: linear-gradient(to bottom, black 95%, transparent 100%);
	mask-image: linear-gradient(to bottom, black 95%, transparent 100%);
}

.thumbnail {
	/* height: 100px; */
	width: 205px;
}

.popular-articles-list {
	display: flex;
}

.popular-articles-section {
	background-color:rgb(247, 248, 248);
}

.big-number {
	font-size: 24px;
	color: rgb(204, 0, 153);
}

.popular-article-link {
	text-decoration: none;
	word-wrap: break-word;
	color: #000;
}

.channel-container {
	display: flex;
}

.subscribe-container {
	display: flex;
	width: 50%;
	justify-content: center;
}

.subscribe-btn {
	border: none;
	border-radius: 0 5px 5px 0;
	background-color: #fff;
	color: rgb(167, 170, 178);
}

.subscribe-input {
	border: none;
	border-radius: 0;
	width: 70%;
}

.newsletter-signup-section {
	background-image: url('../images/pictures/newsletter-signup-background.webp');
	background-position: center;
	background-attachment: fixed;
	background-size: 120%;
	background-repeat: no-repeat;
	height: 300px;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.newsletter-signup-section .socials-list {
	justify-content: center;
}

.newsletter-signup-section > * {
	margin: 10px;
}

.image-container {
	background-color: #fff;
	display: flex;
	border-radius: 5px 0 0 5px;
}

.featured-articles-section {
	display: grid;
}

#plugg-channel {
	background-image: url('../images/pictures/background-1.webp');
}

#neural-channel {
	background-image: url('../images/pictures/background-2.jpg');
}

#shft-channel {
	background-image: url('../images/pictures/background-3.jpg');
}

#growth-quarters-channel {
	background-image: url('../images/pictures/background-4.jpg');
}

#hard-fork-channel {
	background-image: url('../images/pictures/background-5.webp');
}

.customers-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 50px 0;
}

.work-with-us-section {
	display: flex;
	width: 84%;
	padding-top: 50px;
	justify-content: space-between;
}

.work-with-us-text-container {
	display: flex;
	flex-direction: column;
	width: 50%;
}

.work-with-us-text-container > p {
	line-height: 24px;
}

.work-with-us-text-container > h3 {
	margin-bottom: 10px;
}

.work-with-us-text-container > h1 {
	margin-bottom: 25px;
}

.work-with-us-graphics-container {
	display: flex;
	flex-wrap: wrap;
	height: 250px;
	align-items: center;
}

.work-with-us-graphic {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	flex-basis: 50%;
	
}

.latest-stories-list {
	display: flex;
	flex-wrap: wrap;
}

.latest-story-article {
	text-decoration: none;
	flex-basis: 25%;
}

.latest-story-article > *{
	background-size: cover;
	height: 100%;
	width: 100%;
}

.latest-story-title {
	color: #000;
}

.latest-story-time-since-published {
	color: rgb(167,170,178);
}

.latest-story-article {
	display: flex;
	flex-direction: column;
}